@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
body {
  margin: 0px;
}
.picture_1 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("https://baroque.com.pk/cdn/shop/files/MAin_BAnner82.jpg?v=1778924216&width=2000");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top_nav_highlights {
  display: flex;
  padding: 9px;
  align-items: center;
  color: #ffff;
  font-size: 13px;
  font-family: "Cabin", sans-serif;

  margin-top: 1px;
}
.marquee {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.top_nav_texts {
  margin-left: 46.6px;
  margin-right: 46.6px;
  margin-top: 1px;
}
.top_nav {
  margin-top: 0.5px;
  background-color: rgb(37 37 37);
}
.nav {
  display: flex;
  align-items: center;
  height: 70px;
  position: sticky;
  border-bottom:solid #DDDDDD 1px;
  top: 0px;
  background-color: white;
  /* or any non-white default */
  transition: background-color 0.1s ease;
  z-index: 1;
}


.nav > div {
  flex: 1;
  display: flex;
  align-items: center;
}

.hamburger {
  height: 50px;
  width: 35px;

  margin-left: 22px;
}
.hamburger:first-child {
  justify-content: flex-start;
}

/* Middle column: logo centered */
.logo_div {
  justify-content: center;
  /* center the image horizontally */
}

.nav_logo {
  width: 160px;
  height: 35px;
  margin-top: 7px;
}
.icons_div:last-child {
  justify-content: flex-end;

}
.nav_options {
  display: flex;
width: 290px;
  align-items: center;
  margin-right: 22px;

  justify-content: space-between;
  color: black;
}

.choose_country {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: cabin, sans-serif;
  font-size: 10px;
}
.choose_country:hover {
  color: #878787;
  fill: #878787;
}

.drop_down_arrow {
  margin-left: 8px;
  width: 17px;
}

.over_lay {
  color: #ffff;
  display: flex;
  justify-content: center;
  bottom: 0px;
  font-size: 38px;
  font-weight: 10;
  align-items: end;
  height: 86vh;
  font-family: cabin, sans-serif;
}
.hero_text {
  letter-spacing: 4px;
}
.hero_buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 100px;
  letter-spacing: 3px;
}

.button_1 {
  background-color: white;
  color: black;
  font-size: 13px;
  width: 160px;
  height: 48px;
  border: solid white 1px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_1:hover {
  color: white;
  transition: all 0.6s ease;
  background-color: transparent;
}

.button_2 {
  background-color: black;
  color: white;
  font-size: 13px;
  width: 160px;
  height: 48px;
  border: solid black 1px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_2:hover {
  color: black;
  background-color: transparent;
  transition: all 0.6s ease;
}
.container_first {
  margin: 0px;
}
.text_one {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: cabin, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.section_flex {
  display: flex;
  justify-content: space-between;
  margin: 0px 2.5vw;
}

.left_box {
  height: 100vh;
  width: 100vw;
  margin-right: 1vw;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://baroque.com.pk/cdn/shop/files/75_e95b46a7-1574-4824-a172-3d1d72976178.jpg?v=1778924320&width=1000");
}
.left_button {
  height: 95vh;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: end;
}
.inner_button_left {
  background-color: white;
  color: black;
  border: solid black 1px;
  padding: 0px 25px;
  display: flex;
  font-family: cabin, sans-serif;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
  transition: all 1s ease;
}
.inner_button_left:hover {
  background-color: black;
  color: white;
}
.right_box {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://baroque.com.pk/cdn/shop/files/85_c4e0151f-7699-4dd1-af59-324c01a60be9.jpg?v=1778924372&width=1000");
}
.right_button {
  height: 95vh;
  display: flex;
  justify-content: center;

  align-items: end;
}
.inner_button_right {
  background-color: white;
  color: black;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cabin, sans-serif;
  letter-spacing: 4px;
  border: solid black 1px;
  padding: 0px 25px;
}

.inner_button_right:hover {
  background-color: black;
  color: white;
  transition: all 1s ease;
}
.container_second {
  overflow: hidden;
  margin: 0px;
}
.text_two {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: cabin, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.section_flex_two {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://baroque.com.pk/cdn/shop/files/MAin_BAnner78_bf8ef1d8-6daf-46c9-9911-0d128c094e9b.jpg?v=1777032363&width=2000");
}

.button_left_two {
  height: 92vh;
  display: flex;
  align-items: end;
  margin-left: 5vw;
}
.inner_btn {
  background-color: BLACK;
  color: white;
  border: solid black 1px;
  padding: 0px 25px;
  display: flex;
  font-family: cabin, sans-serif;
  font-size: 14px;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
  transition: all 1s ease;
}
.inner_btn:hover {
  background-color: transparent;
  color: black;
}
.button_right_two {
  height: 92vh;
  display: flex;
  align-items: end;
  margin-left: 5px;
}

.inner_bttn {
  background-color: white;
  color: black;
  border: solid white 1px;
  padding: 0px 25px;
  display: flex;
  font-family: cabin, sans-serif;
  font-size: 14px;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  transition: all 1s ease;
}

.inner_bttn:hover {
  background-color: transparent;
  color: white;
}
.left_box_sec_3 {
  height: 100vh;
  width: 100vw;
  margin-right: 1vw;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://baroque.com.pk/cdn/shop/files/93_284ee2fc-4918-4c61-8e74-2db4fa3081b3.jpg?v=1778925180&width=1000");
}
.right_box_sec_3 {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://baroque.com.pk/cdn/shop/files/94_7fbc35b0-6fec-456f-b5c4-ef481ad6c785.jpg?v=1778925226&width=1000");
}
.section_flex_four {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: end;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://baroque.com.pk/cdn/shop/files/MAin_BAnner83_1ed43421-f72a-4352-9ceb-3554331fdf94.jpg?v=1778925861&width=2000");
}

.button_left_two_sec_4 {
  height: 92vh;
  display: flex;
  align-items: end;
  margin-right: 5px;
}

.inner_btn {
  background-color: BLACK;
  color: white;
  border: solid black 1px;
  padding: 0px 25px;
  display: flex;
  font-family: cabin, sans-serif;
  font-size: 14px;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
  transition: all 1s ease;
}

.inner_btn:hover {
  background-color: transparent;
  color: black;
}

.button_right_two_sec_4 {
  height: 92vh;
  display: flex;
  align-items: end;
  margin-right: 5vw;
}

.inner_bttn {
  background-color: white;
  color: black;
  border: solid white 1px;
  padding: 0px 25px;
  display: flex;
  font-family: cabin, sans-serif;
  font-size: 14px;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  transition: all 1s ease;
}

.inner_bttn:hover {
  background-color: transparent;
  color: white;
}
.footer {
  background-color: rgb(47 47 47);
  padding: 30px 50px;
}
.website_legal_data {
  color: white;
  list-style: none;
  font-family: cabin, sans-serif;
  display: flex;
  justify-content: space-between;
}
.about_us {
  color: rgb(182 182 182);
  font-size: 14px;
}
.customer_service {
  color: rgb(182 182 182);
  font-size: 14px;
}
.policies {
  color: rgb(182 182 182);
  font-size: 14px;
}
.social_media_AC {
  margin: 45px 0px;
  display: flex;
  width: 20vw;
  align-items: center;
  justify-content: space-between;
}
.facebook_icon {
  width: 22px;
}
.instagram_icon {
  width: 25px;
}
.youtube_icon {
  width: 22px;
}
.tiktok_icon {
  width: 22px;
}
.whatsapp_icon {
  width: 24px;
}
.footer_bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.country_selector {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  fill: rgb(182 182 182);
  color: rgb(182 182 182);
  font-family: cabin, sans-serif;
  font-size: 10px;
}

.country_selector:hover {
  fill: white;
  color: white;

  transition: all 0.6s ease;
}
.footer_drop_down_arrow {
  margin-left: 8px;
  width: 17px;
}
.copy_rights{
  font-family: cabin, sans-serif;
  color: rgb(182 182 182);
}
.payment_services{
  display: flex;
  gap: 20px;
  justify-content:center ;
}
.mastercard{
  width:40px;
}
.visacard{
  width: 40px;
}